@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Lora&display=swap');

.App {
  text-align: center;
  position: relative;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
}

h1 {
  font-family: 'Castoro Titling', cursive;
  font-size: 50px;
}

h3 {
  margin-top: -30px;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

.profile-pic img {
  margin-top: -20px;
  height: 15%;
  width: 15%;
  border-radius: 50%;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-logo,
.linkdin-logo {
  margin: 0 8px;
  margin-top: 5px;
}

.github-logo img {
  height: 25px;
  width: 25px;
}

.linkdin-logo img {
  height: 25px;
  width: 25px;
}

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  margin-right: 50%;
  margin-top: -20%;
}

.projects {
  margin-top: -20%;
}

.words {
  background: rgba(48, 49, 48, 0.3);
  border-radius: 15px;
  font-family: 'Lora', serif;
  justify-content: left;
}

